/.vscode
/.cargo
/.idea
.DS_Store
*.elf
*.bin
*.itb
*.bak
apps/*/build/
**/target/
**/Cargo.lock
/.axconfig.*
/.xconfig.*
*.img
/extern
/diff
/log*
.gdb_history
**/actual.out
kernel-*
/testsuits
*.rdb
summary.txt
